<%#  As a queen je veux voir la liste des réservations sur mes ruches %>
<%#  Il faut créer un index de toutes les réservations en cours et à venir %>

<%# pour chaque réservation, je veux afficher le nom de l'user qui a fait la réservation, les dates %>

<h1> All reservations on my hives</h1>

<% @reservations.each do |reservation| %>
  <div class="cards-queen">
    <%= cl_image_tag reservation.hive.photo.key, height: 300, width: 400, crop: :fill %>
    <div class = "cards-queen-infos">
      <p>Locataire: <%= reservation.user.first_name %></p>
      <p>Ruche réservée: <%= reservation.hive.name %></p>
      <p>Prix Total: <%= reservation.total_price %></p>
      <p>Dates de la réservation: <%= reservation.start_date %> <%= reservation.end_date %></p>
    </div>
    <% if reservation.status =="pending" %>
      <%= link_to "Accepter", accept_reservation_path(reservation), method: :patch %>
      <%= link_to "Refuser", decline_reservation_path(reservation), method: :patch %>
    <% elsif reservation.status == "accepted" %>
      <p class="btn btn-success">Réservation acceptée!</p>
    <% elsif reservation.status == "declined" %>
      <p class="btn btn-danger">Réservation refusée...</p>
    <% end %>
  </div>
<% end %>
