<div class="index-container">
  <div class="card-product">
    <% @hives.each do |hive| %>
      <%= link_to hive_path(hive), class: 'card-hives' do%>
          <%= cl_image_tag hive.photo.key, crop: :fill, width: 400 %>
          <i class="fas fa-heart fa-heart-hive"></i>
          <div class='card-product-infos'>
            <h2>
              <i class="fab fa-forumbee"></i>
              <%= hive.name.capitalize %>
            </h2>
            <h3>
              <i class="fas fa-map-marker-alt"></i>
              <%= hive.address %>
            </h3>
            <p>
              <i class="fas fa-comment"></i>
              <%= hive.description %>
            </p>
          </div>
          <div class="card-product-price">
            <h2><%= hive.price_per_day.to_i %></h2>
            <p>p / jour</p>
          </div>
      <% end %>
    <% end %>
  </div>
  <div id='map'
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
