<div class="index-container">
  <div>
    <div class="container">
      <div class="d-flex align-items-center justify-space-between my-2">
        <%= link_to hives_path(query: params[:query], order: params[:order]), class: "flex-fill text-center btn btn-ghost category-filter" do %>
          <i class="fab fa-forumbee"></i>
          <p class="m-0">Toutes les catégories</p>
        <% end %>
        <%= link_to hives_path(query: params[:query], order: params[:order], category: "Ruche Aménagée"), class: "flex-fill text-center btn btn-ghost category-filter" do %>
          <i class="fas fa-home"></i>
          <p class="m-0">Ruche Aménagée</p>
        <% end %>
         <%= link_to hives_path(query: params[:query], order: params[:order], category: "Retour à la Nature"), class: "flex-fill text-center btn btn-ghost category-filter" do %>
          <i class="fas fa-leaf"></i>
          <p class="m-0">Retour à la Nature</p>
        <% end %>
         <%= link_to hives_path(query: params[:query], order: params[:order], category: "Famille Nombreuse"), class: "flex-fill text-center btn btn-ghost category-filter" do %>
          <i class="fas fa-users"></i>
          <p class="m-0">Famille Nombreuse</p>
        <% end %>
         <%= link_to hives_path(query: params[:query], order: params[:order], category: "Abeilles Amoureuses"), class: "flex-fill text-center btn btn-ghost category-filter" do %>
         <i class="far fa-kiss-wink-heart"></i>
          <p class="m-0">Abeilles Amoureuses</p>
        <% end %>
      </div>
      <div class="w-100 d-flex justify-content-between align-items-center">
        <% if params[:category] %>
          <p class="mb-0">Résultats pour <%= params[:category] %></p>
        <% end %>
        <div class="dropdown-sort my-2">
          <button class="btn btn-ghost btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Trier par
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Prix décroissant", hives_path(query: params[:query], order: "desc_price", category: params[:category]), class: "dropdown-item"%>
          <%= link_to "Prix croissant", hives_path(query: params[:query], order: "asc_price", category: params[:category]), class: "dropdown-item"%>
          </div>
        </div>
      </div>

    </div>
    <% @hives.each do |hive| %>
      <div class="relative">
      <i class="fas fa-seedling fa-heart-hive" id="seed" data-controller="like" data-action="click->like#like"></i>
      <%= link_to hive_path(hive), class: 'card-product card-hives', "data-controller": "mapbox", data: { action: 'mouseenter->mapbox#hovering mouseleave->mapbox#leaving', id: hive.id } do%>
          <%= cl_image_tag hive.photo.key, crop: :fill, width: 400 %>
          <div class='card-product-infos'>
            <h2>
              <%= hive.name.capitalize %>
            </h2>
            <h3>
              <i class="fas fa-map-marker-alt"></i>
              <%= hive.address %>
            </h3>
            <p>
              <i class="fas fa-comment"></i>
              <%= hive.description %>
            </p>
          </div>
          <div class="card-product-price">
            <h2><%= hive.price_per_day.to_i %></h2>
            <p>p / jour</p>
          </div>
      <% end %>
      </div>
    <% end %>
  </div>
  <div id='map'
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
